@import '../../../../styles.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.example-form {
  display: grid;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card-actions {
  gap: 15px;
}

.example-card {
  min-width: 450px;
}

@media (max-width: $layout-breakpoint-sm) {
  .example-card {
    min-width: 350px;
  }
}