<mat-toolbar class="navbar-color mat-elevation-z8 " style="z-index: 2" color="primary">
  <button mat-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <span>Veterinaria Yara</span>
  </div>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="example-icon">more_vert</mat-icon>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Add new contact</button>
      <button mat-menu-item (click)="toogleTheme.emit()">Change theme</button>
      <button mat-menu-item (click)="toogleDir.emit()">Change Dir menu</button>

    </mat-menu>
  </button>
</mat-toolbar>